################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/
/.vs/PHPStudy5.2/
/php-4.4.9-Win32.不用也行
