div#qTip {
 padding: 3px;
 border: 1px solid #FF9966;
 border-right-width: 1px;
 border-bottom-width: 1px;
 display: none;
 background: #2B2B2B;
 color: #FFF;
 font: 13px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}